.plant-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}
h1{
	font-family: Montserrat;
	text-transform: uppercase;
}
h2{
	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 16px;
}
p{
	font-family: Montserrat;
	font-size: 10px;

}
.plant-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.plant-div{
	width: 20vw;
	height: 30vh;
}
.plant-img{
	background-repeat: no-repeat;
	height: 15vh;
	width: 15vw;
}