<input class="plant-input" type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search for a plant">
<div class="plant-list">
<div class="plant-div"*ngFor="let plant of sortedPlants">
  
    <h2>{{ plant.common_name }}</h2>
    <p>Scientific Name: {{ plant.scientific_name[0] }}</p>
    <p>Cycle: {{ plant.cycle }}</p>
    <button (click)="buildPlantObject(plant)">Add</button>
<!-- Check if default_image is available -->
<ng-container *ngIf="plant.default_image">
  <!-- Check if thumbnail is available within default_image -->
  <ng-container *ngIf="plant.default_image.thumbnail">
    <div class="plant-img" style="background-image: url({{plant.default_image.thumbnail}});">
    
  </div>
  </ng-container>
  <ng-container *ngIf="!plant.default_image.thumbnail">
    <img src="assets/default_plant.png" alt="{{ plant.common_name }} Image">
  </ng-container>
</ng-container>
<ng-container *ngIf="!plant.default_image">
  <img src="assets/default_plant.png" alt="{{ plant.common_name }} Image">
</ng-container>
  </div>
</div>