<div class="app">
  <header>  

    <h1>SproutSync</h1>
    <div style="height: max-content;">
      <nav>
        <a href="/your-plants">Your Plants</a>
      </nav>
    </div>
  </header>

  <!-- Display content only for the root route (empty path) -->
  <div *ngIf="currentRoute === '/'">
    <app-plant-list></app-plant-list>
  </div>

  <!-- Display content for the '/your-plants' route -->
  <div *ngIf="currentRoute === '/your-plants'">
    <app-your-plants></app-your-plants>
  </div>
</div>
